<!DOCTYPE html>
<html>
  <head>
    <title>Welcome Online Exam</title>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="/css/main.css" />
    <link rel="stylesheet" type="text/css" href="/css/font/flaticon.css" />
    <link
      href="https://fonts.googleapis.com/css?family=Fira+Sans|Josefin+Sans"
      rel="stylesheet"
    />
    <meta charset="UTF-8" />
    <meta name="description" content="Online Exam" />
    <meta name="author" content="Akhil Regonda" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>

  <body>
    <div class="oq-header">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-4">
            <div class="">
              <a href="/"><img src="/images/quiz.png" class="oq-logo" /></a>
            </div>
          </div>
          <div class="col-md-8">
            <div class="oq-userArea pull-right">
              <!-- <a href="/test/view/<%=test.test_id%>"
                ><span class="glyphicon glyphicon-arrow-left"></span> Back</a
              >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; -->
              <a href="/"
                ><span class="glyphicon glyphicon-home"></span
                >&nbsp;&nbsp;Home</a
              >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              <a class="oq-btn" href="/auth/logout">Logout</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="oq-viewTestsBody">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-10 col-md-offset-1">
            <div class="oq-viewTests">
              <div class="oq-testsHead">
                <!-- <?php
                                                    if(isset($_GET['error'])){
                                                        echo "<div class='row'><div class='col-md-12'><div class='pull-right'><span class='oq-error'>*Question already exists!</span></div></div></div><br>";
                                                    }
                                                ?> -->
                <div class="row">
                  <div class="col-md-6">
                    <span class="oq-testsHeadText"> Report of  <%= user.first_name +' '+ user.last_name %> </span> <br>
                    <span class="subheading"> Module :  <%= moduleName %>  </span> <br>
                    <span class="subheading"> Code :  <%= moduleCode %>  </span> <br>
                    <span class="subheading"> Test :  <%= testName %>  </span>
                  </div>
                  <div class="col-md-3">
                    <div class="text-center">
                      <!-- <a href="savetest.php?test=<?php echo $test;?>" class="oq-btn">View the quiz</a> -->
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="pull-right">
                      <a
                        class="oq-addbtn"
                        data-toggle="modal"
                        data-target=".newtest"
                        >Total Marks <%= totalMarks%>%</a
                      >
                    </div>
                  </div>
                </div>
                <br />
                
              </div>

              <div
                class="modal fade newtest"
                tabindex="-1"
                role="dialog"
                aria-labelledby="mySmallModalLabel"
              >
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-body">
                      <div class="oq-questionModal">
                        <form
                          class="form"
                          id="create-question-form"
                          action=""
                          method="post"
                        >
                          <br />
                          <span>Question</span><br /><br />

                          <span
                            id="question-create-error"
                            style="color: rgb(198, 79, 79)"
                          >
                          </span>
                          <br /><br />
                          <textarea
                            class="form-control"
                            placeholder="Enter the question"
                            name="question_text"
                            required
                          ></textarea
                          ><br />

                          <div class="row">
                            <input
                              type="hidden"
                              name="test_id"
                              value="<%=test.test_id%>"
                            />
                          </div>
                          <br />
                          <br /><br />

                          <input
                            type="submit"
                            id="create-question-btn"
                            class="form-control oq-btn"
                            value="Create question"
                            name="newques"
                          />
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <table class="table oq-table">
                <tbody>
                  <% if (questions && questions.length > 0) { %> <%
                  questions.forEach((question, index) => { %> <% if
                  (question.guidelines) { %>
                  <tr>
                    <td colspan="3"><%= question.guidelines %></td>
                  </tr>
                  <% } %>
                  <tr>
                    <td>Question <%= index + 1 %></td>
                    <td>
                      <%= question.question_text %><br /><br />
                      <br />
                      <div class="row">
                        <div class="col-md-10 offset-md-1">
                          <span class="oq-news">Answer : <%= question.answer.answer_text %> </span><br /><br />
                        </div>
                      </div>
                    </td>
                    <td class="oq-operations">

                        <span>
                            <%= question.answer.outcome %>
                        </span>
                    </td>
                  </tr>
                  <div
                    class="modal fade <%= question.question_id %>"
                    tabindex="-1"
                    role="dialog"
                    aria-labelledby="mySmallModalLabel"
                  >
                    <div class="modal-dialog" role="document">
                      <div class="modal-content">
                        <div class="modal-body">
                          <div class="oq-questionModal">
                            <form
                              class="form"
                              action="/question/update/<%= question.question_id %>/<%= test.test_id %>"
                              method="post"
                              id="update-question-form"
                            >
                              <br />
                              <span>Question</span><br /><br />

                              <textarea
                                class="form-control"
                                name="question_text"
                                minlength="10"
                              >
<%= question.question_text %></textarea
                              >
                              <br /><br />
                              <input
                                type="submit"
                                class="form-control oq-btn update-btn"
                                value="Update question"
                                name="upques"
                                id="update-question-btn"
                              />
                            </form>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <% }); %> <% } else { %>
                  <tr>
                    <td colspan="3" class="oq-news">No questions available</td>
                  </tr>
                  <% } %>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script src="/js/jquery-3.1.1.min.js"></script>
    <script src="/js/bootstrap.js"></script>

  </body>
</html>
